{% extends "index.html" %}    
{% block title %}OMS{% endblock %}
{% block container %}
    <section id="login-container" style="margin-top:16%">

        <div class="row">
            <div class="col-md-3" id="login-wrapper">
                <div class="panel panel-primary animated flipInY">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Sign Up
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form method ="post" role="form">
                        {{uf.as_p}}
                        {{errors}}
                        <button type="submit" class="btn btn-default">注 册</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
